* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: url(img_header/fon3.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

p.crrt-text {
    position: relative;
    color: orange;
    font-size: 28px;
    left: 320px;
    top: -114px;
}

nav {
    position: relative;
    border-width: 5px 0px;
    border-color: aliceblue;
    border-style: solid;
    width: 1400px;
    left: 500px;
    top: -225px;
}

.nav-link {
    position: relative;
    left: 70px;
    margin-left: 55px;
    font-size: 30px;
}

@media screen and (max-width: 1669px) {
    a {
        font-size: 25px;
        position: relative;
    }
    .nav-link {
        position: relative;
        left: 30px;
    }
}

@media screen and (max-width: 1642px) {
    .nav-link {
        font-size: 25px;
    }
    p.crrt-text {
        font-size: 23px;
    }
}

@media screen and (max-width: 1500px) {
    .nav-link {
        font-size: 22px;
    }
    nav {
        margin-left: -40px;
    }
}

@media screen and (max-width: 1366px) {
    a.nav-link {
        position: relative;
        left: -20px;
    }
    .nav-link {
        margin-left: 30px;
    }
}